%modal_window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
%fixed_main_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
%flexbox_centered_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
%shrink-nav {
  animation-name: shrink_nav;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;

  @keyframes shrink_nav {
    from {
      background: rgba(darken($base_color, 50%), 0.6);
      padding: 0.5rem 0;
    }
    to {
      background: rgba($base_color, 0);
      padding: 1rem 0;
    }
  }
}
%enlarge-nav {
  animation-name: enlarge_nav;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes enlarge_nav {
    from {
      box-shadow: transparent;
      background: rgba($base_color, 0);
      padding: 1rem 0;
    }
    to {
      box-shadow: 0px 3px 5px 0px rgb(3, 25, 87);
      background: rgba(darken($base_color, 45%), 0.9);
      padding: 0.5rem 0;
    }
  }
}
%reg_btn_hover {
  animation-name: reg_btn_hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  @keyframes reg_btn_hover {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }
}



