.enlarge-nav {
    @extend %enlarge-nav;
    box-shadow: 0px 6px 25px 0px rgba(darken($base_color, 10%), 0.9);
 }
 .shrink-nav {
    @extend %shrink-nav;
    box-shadow: 0px 9px 25px 0px transparent;
 }

 .active {
  animation-name: animate_active_content;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
  @keyframes animate_active_content {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
 .reg-btn-hover-effect:after {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 50%;
   width: 0%;
   display: inline-block;
   height: 1px;
   background: rgb(161, 110, 0);
   @extend %reg_btn_hover;
 }
 .reg-btn-hover-effect:before {
   content: "";
   position: absolute;
   bottom: -1px;
   right: 50%;
   width: 0%;
   display: inline-block;
   height: 1px;
   background: rgb(161, 110, 0);
   @extend %reg_btn_hover;
 }