    // Base constants.
$base-color: rgb(58, 183, 255);

    // Buttons constants.
$btn_padding: 0.5rem 0.8rem;
$btn_special_padding: 0.6rem 1rem;
$btn_tabmenu_padding: 15px 0;
$btn_margin: 0 0.5rem;
$btn_special_margin: 0.2rem 0.2rem;
$btn_border: 1px solid lighten($base-color, 30%);
$btn_background_color: rgba(0, 128, 248, 0.6);

    // Resolution (media-queries) constants.
$pc_resolution: "only screen and (min-width: 606px)";
$tablet_resolution: "only screen and (min-width: 361px) and (max-width: 605px)";
$mobile_resolution: "only screen and (max-width: 360px)";

    // Common. 
$hide_toggle_icon: none;
$select_none: none;

    // Sections.
$section_gap: 0.5rem;
$half-basis: 50%;
$section_border_radius: 6px;
$inner_sections_border: 1px solid rgba(darken($base_color, 20%), 0.5);


