@import url("https://fonts.googleapis.com/css?family=Varela+Round|Cinzel|Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Cinzel|Pacifico|Righteous");

@import "constants";
@import "mixins";
@import "extends";
@import "additional_classes";
@import "sections/banner_section";
@import "sections/tabmenu_section";
@import "sections/about_section";
@import "sections/roadmap_section";
@import "sections/team_section";
@import "sections/get_in_touch_section";
@import "footer/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}

body {
  overflow-x: hidden;
  @extend %body_background;
}
#root {
  #modal-window {
    @extend %modal_window;
  }
}
#menu-container {
  @include create_flex_container(row, wrap, space-around, center);
  @extend %fixed_main_nav;
  background: transparent;
  padding: 1rem 0;
  z-index: 9998;

  .toggle-icon {
    display: none;
  }
  #site-title-container {
    height: 100%;
    width: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
#pc_items_ul {
  @include create_flex_container(row, wrap, flex-start, center);
  flex-grow: 1;
  color: rgb(239, 248, 104);
  height: 50px;
  margin-left: 5rem;

  .regular-btn {
    font-family: "Audiowide", cursive;
    background: none;
    border: 2px solid rbga(255, 255, 255, 0);
    z-index: 999;
    color: rgb(250, 255, 203);
    user-select: $select_none;
    cursor: pointer;
    margin: $btn_margin;
    padding: 0.3rem 0.5rem;
    position: relative;
    transition: color 0.5s;
    &:hover {
      color: rgb(86, 255, 227);
    }
  }
}
#pc_special_items_ul {
  @include create_flex_container(row, wrap, center, center);
  .fa-ellipsis-v {
    display: none;
  }
  #languages-container {
    text-align: center;
    border: 2px solid rgb(86, 255, 227);
    @include create_flex_container(column, nowrap, initial, initial);
    position: absolute;
    bottom: -111px;
    right: 207px;
  }
  .fa-globe-africa {
    color: rgb(86, 255, 227);
    cursor: pointer;
    margin-right: 0.5rem;
  }
  .special-btn {
    letter-spacing: 4px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    padding: $btn_special_padding;
    margin: $btn_special_margin;
    cursor: pointer;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(86, 255, 227);
    position: relative;
    border-radius: 50px;
    font-size: 14px;
    transition: border 1s;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid rgb(86, 255, 227);
    }
  }
}
#mobile-menu {
  padding: 0 1rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -53%;
  width: 50vw;
  height: 100vh;
  @include create_flex_container(column, nowrap, initial, initial);
  @extend %body_background;
  #close-icon-container {
    margin-top: 1rem;
    text-align: right;
    i {
      padding: 0.5rem 0.8rem;
      border-radius: 50%;
      background: rgba(black, 0.5);
      border: 2px solid rgb(86, 255, 227);
      color: rgb(86, 255, 227);
      cursor: pointer;
    }
  }
  #mobile-items {
    @include create_flex_container(column, nowrap, initial, initial);

    li {
      border-top: 1px solid rgb(86, 255, 227);
      border-bottom: 1px solid rgb(86, 255, 227);
      background: rgba(black, 0.5);
      text-align: center;
      padding: 6px 0;
      margin: 0;
      position: absolute;
      width: 100%;
      top: -10%;
      left: 0;
      cursor: pointer;
      a {
        color: #56ffe3;
      }
    }
  }
}
#special-mobile-items {
  display: none;
}
#root > i {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 9999;
  border-radius: 50%;
  background: blue;
  color: white;
}

@import "navigation/laptop";
@import "navigation/tablet";
@import "navigation/mobile";
@import "navigation/secondary_mobile";
