@import url("https://fonts.googleapis.com/css?family=Varela+Round|Cinzel|Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Cinzel|Pacifico|Righteous");

@import "constants";
@import "mixins";
@import "extends";
@import "keyframes";
@import "sections/banner_section";
@import "sections/tabmenu_section";
@import "sections/team_section";
@import "footer/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

body {
  @include body_background();
  background-color: #192070;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(52,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230f2fff'/%3E%3Cstop offset='1' stop-color='%235cfcff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='6' height='6' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23192070' cx='3' cy='3' r='3'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.16'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}
#root {
  #modal-window {
    @extend %modal_window;
  }
}
#menu-container {
  @include create_flex_container(row, wrap, space-around, center);
  background: transparent;
  padding: 1rem 0;
  @extend %fixed_main_nav;
  z-index: 9999;
  .toggle-icon {
    display: none;
  }
  #site-title-container {
    height: 100%;
    width: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
#pc_items_ul {
  @include create_flex_container(row, wrap, flex-end, center);
  flex-grow: 1;
  color: rgb(239, 248, 104);
  height: 50px;
  margin-right: 2rem;

  .regular-btn {
    font-family: "Audiowide", cursive;
    background: none;
    border: 2px solid rbga(255, 255, 255, 0);
    z-index: 999;
    color: rgb(250, 255, 203);//rgb(53, 45, 8);
    user-select: $select_none;
    cursor: pointer;
    margin: $btn_margin;
    padding: 0.3rem 0.5rem;
    position: relative;
    transition: color 0.5s;
    &:hover {
      color: rgb(86, 255, 227);
    }
  }
  .active-reg-nav-btn {
    color: rgb(86, 255, 227);
    border-bottom: 1px solid rgb(86, 255, 227);
    transition: background 1s, color 1s;
  }
}
#pc_special_items_ul {
  @include create_flex_container(row, wrap, center, center);
  margin-right: 1rem;
  i.fas:nth-child(2) {
    color: rgb(86, 255, 227);
    font-size: 1.4rem;
    cursor: pointer;
  }
  .special-btn {
    letter-spacing: 4px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    padding: $btn_special_padding;
    margin: $btn_special_margin;
    cursor: pointer;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(86, 255, 227);
    position: relative;
    border-radius: 50px;
    font-size: 14px;
    transition: border 1s;
    border: 1px solid transparent;
    // .fa-arrow-alt-circle-down {
    //   font-size: 16px;
    //   position: absolute;
    //   top: 10px;
    //   right: -5px;
    // }
    &:hover {
      border: 1px solid rgb(86, 255, 227);
    }
  }
  .active-special-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: inline-block;

    //background: rgba(0, 0, 0, 0.219);
    // animation-name: special_btn_animation;
    // animation-duration: 0.5s;
    // animation-fill-mode: forwards;
    // animation-timing-function: ease-out;
    overflow: hidden;
    @keyframes special_btn_animation {
      0% {
        opacity: 1;
        box-shadow: 0px 0px 3px 4px rgba(0, 204, 255, 0.3);
      }
      100% {
        opacity: 0;
        box-shadow: none;
      }
    }
  }
}
#mobile-menu {
  display: none;
}
@import "media_queries";
@import "navigation/laptop";
@import "navigation/tablet";
@import "navigation/mobile";
@import "navigation/secondary_mobile";
