* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
#root {
  #nav-items-wrapper {
    display: flex;
  }
}
@import "navigation/pc";
@import "navigation/tablet";
@import "navigation/mobile";




