$laptop_resolution: "only screen and (min-width: 917px) and (max-width: 1059px)";

@media #{$laptop_resolution} {
  #menu-container {
    i {
        font-size: 1rem;
    }
    #pc_items_ul {
      margin: 0;
      li {
        .regular-btn {
          font-size: 11px;
        }
      }

    }
    #pc_special_items_ul {
        margin-right: 0;
        .special-btn {
          font-size: 10px;
        }
      }
  }
}
