$laptop_resolution: "only screen and (min-width: 990px) and (max-width: 1350px)";

@media #{$laptop_resolution} {
  #menu-container {
    //flex-direction: column;
    i {
      //font-size: 4rem;
    }
    #pc_items_ul {
      margin: 0;
      li {
        .regular-btn {
          font-size: 11px;
        }
      }
    }
    #pc_special_items_ul {
      //display: block;
      margin-right: 0;
      .special-btn {
        margin: 0;
        padding: 0.5rem;
        font-size: 10px;
      }
    }
  }
}
