$mobile_resolution: "only screen and (min-width: 514px) and (max-width: 629px)";

@media #{$mobile_resolution} {
  body {
    padding-top: 2rem;
  }
  #menu-container {
    justify-content: flex-start;
    align-items: center;
    .toggle-icon {
      padding-left: 0.5rem;
      display: block;
      .fa-bars {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    .fa-anchor {
      margin-left: 3.5rem;
      margin-right: 1rem;
      font-size: 0.7rem;
    }
  }
  #pc_items_ul {
    display: none;
  }
  #pc_special_items_ul {
    flex-direction: row;
    .special-btn {
      font-size: 0.6rem;
      padding: 0.35rem 0;
      width: 75px;
    }
  }
}
