#banner-container {
  text-align: center;
  height: 100vh;
  width: 100%;
  @include create_flex_container(row, nowrap, initial, initial);
  padding: 0.5rem;
  padding-top: 5rem;

  .banner {
    width: $half_basis;
    @include create_flex_container(column, nowrap, initial, initial);
    border-radius: $section_border_radius;

    .banner-content {
      margin-bottom: 0.5rem;
      border: $inner_sections_border;
      @include create_flex_container(row, nowrap, center, center);
      flex-basis: $half_basis;
      background: $banner_sections_background;
      border-radius: $section_border_radius;
    }
    .banner-btns-ul {
      border: $inner_sections_border;
      flex-basis: $half_basis;
      @include create_flex_container(row, nowrap, center, center);
      background: $banner_sections_background;
      border-radius: $section_border_radius;
    }
  }
  .banner-img {
    border: $inner_sections_border;
    width: $half_basis;
    @include create_flex_container(row, nowrap, center, center);
    margin-left: 0.5rem;
    background: $banner_sections_background;
    border-radius: $section_border_radius;
  }
}